<div class="row">
  <div class="col-md-12">
    <p>
      String length: {{inputstring.length}}
    </p>
    <p>
      Number of whitespace: {{whitespace}}
    </p>
    <p>
      Characters (not counting whitespace): {{charactersWithoutWhitespace}}
    </p>
    <p>
      Most used: {{mostUsed}}
    </p>
  </div>
  <div class="col-md-12">
    {{textarea cols=50 rows=10 value=inputstring}}
  </div>
</div>
